* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    background-color: #222;
}

body {
    width: 100%;
}

header {
    position: relative;
}

.logo {
    position: relative;
    top: 46px;
    left: 60px;
    width: 55px;
    height: 55px;
    background-color: #000000;
    border-radius: 100%;
}

.logo img {
    position: absolute;
    top: 8px;
    left: 9px;
    width: 33px;
    height: 37px;
    filter: grayscale(1);
}

.logo p {
    position: absolute;
    left: 70px;
    top: 5px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-family: cursive;
}

.nav {
    position: absolute;
    left: 1072px;
    width: 787px;
    height: 30px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.nav ul li a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 35px;
    font-family: cursive;
    transition: 0.5s;
}

.nav ul li a:hover {
    color: #ffffff;
    transition: 0.5s;
}

.nav ul li:nth-child(1) .action {
    color: #ffffff;
}

.nav ul li:nth-child(1) .action:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.nav ul li:nth-child(5) .action {
    color: #ffffff;
}

.nav ul li:nth-child(5) .action:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.nav ul li:nth-child(4) .action {
    color: #ffffff;
}

.nav ul li:nth-child(4) .action:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}


.home-main {
    position: relative;
    width: 1413px;
    height: 528px;
    top: 276px;
    left: 235px;
}

.img-circle {
    position: absolute;
    background-color: #444444;
    width: 528px;
    height: 528px;
    border-radius: 100%;
}

.img-circle img {
    padding: 18px 18px;
}

.home-lil {
    position: absolute;
    top: 44px;
    left: 610px;
    font-size: 24px;
    font-family: cursive;
    color: rgba(255, 255, 255, 0.5);
}

.home-big {
    position: absolute;
    top: 118px;
    left: 610px;
    font-size: 70px;
    font-weight: bold;
    font-family: cursive;
    color: #ffffff;
}

.home-text {
    position: absolute;
    top: 230px;
    left: 610px;
    font-size: 20px;
    font-family: cursive;
    color: #ffffff;
}

.portfolio-btn {
    position: absolute;
    top: 376px;
    left: 622px;
    padding-top: 13px;
    padding-bottom: 19px;
    border-radius: 30px;
    background-color: #333333;
    border: 3px solid #d5d5d5;
    box-shadow: 0px 5px 5px #000000;
    transition: 0.5s;
}

.portfolio-btn:hover {
    border: 3px solid #007ced; 
    transition: 0.5s;
}

.portfolio-btn a {
    color: #ffffff;
    font-size: 20px;
    font-family: cursive;
    padding-top: 13px;
    padding-bottom: 19px;
    padding-inline: 46.5px;
}

.contact-btn {
    position: absolute;
    top: 376px;
    left: 814px;
    padding-top: 13px;
    padding-bottom: 19px;
    border-radius: 30px;
    background-color: #333333;
    border: 3px solid #d5d5d5;
    box-shadow: 0px 5px 5px #000000;
    transition: 0.5s;
}

.contact-btn:hover {
    border: 3px solid #007ced; 
    transition: 0.5s;
}

.contact-btn a {
    color: #ffffff;
    font-size: 20px;
    font-family: cursive;
    padding-top: 13px;
    padding-bottom: 19px;
    padding-inline: 46.5px;
}

footer {
    position: relative;
    top: 429px;
    height: 68px;
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #333333;
}

.footer-social {
    position: absolute;
    width: 185px;
    height: 44.35px;
    bottom: 0;
    left: 60px;
}

.footer-social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-social li {
    line-height: 35px;
}

.footer-social a {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.footer-social a:hover {
    color: #ffffff;
    transition: 0.5s;
}

.footer-reserved {
    position: absolute;
    top: 23.65px;
    right: 57px;
    color: rgba(255, 255, 255, 0.5);
}










/*! contact.html !*/

.main-header {
    width: 1920px;
    height: 229px;
    position: absolute;
    background: #252525;
    top: 162px;
    border-block: 2px solid #333333;
}

.main-header-text {
    position: absolute;
    width: 453px;
    height: 45px;
    left: 62px;
    top: 92.5px;
    font-size: 55px;
    font-family: cursive;
    color: #ffffff;
    line-height: 35px;
    font-weight: 700;
}

.map-background {
    position: relative;
    width: 16;
    height: 146px;
    top: 140px;
}

.google-map {
    position: absolute;
    width: 1678px;
    height: 146px;
    left: 121px;
    top: 420px;
    border: none;
}

.contact-info {
    position: absolute;
    top: 585px;
    left: 94px;
    width: 511px;
    height: 350px;
}

.phone {
    position: absolute;
    height: 96px;
    width: 511px;
    top: 0;
    left: 0;
}

.phone img {
    position: absolute;
    top: 0;
    left: 0;
}

.phone-big {
    position: absolute;
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    left: 99px;
    top: 13px;
    color: #ffffff;
    
}

.phone-lil {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    font-family: cursive;
    line-height: 27px;
    left: 99px;
    top: 51px;
    color: rgba(255, 255, 255, 0.70);
}

.location {
    position: absolute;
    left: 5px;
    top: 129px;
    width: 506px;
    height: 94px;
}

.location img {
    position: absolute;
    top: 0;
    left: 0;
}

.location-big {
    position: absolute;
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    left: 99px;
    top: 11px;
    color: #ffffff;
}

.location-lil {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    font-family: cursive;
    line-height: 27px;
    left: 99px;
    top: 49px;
    color: rgba(255, 255, 255, 0.70);
}

.email {
    position: absolute;
    left: 7px;
    bottom: 0;
    width: 506px;
    height: 94px;
}

.email img {
    position: absolute;
    top: 0;
    left: 0;
}

.email-big {
    position: absolute;
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    left: 99px;
    top: 12px;
    color: #ffffff;
}

.email-lil {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    font-family: cursive;
    line-height: 27px;
    left: 99px;
    top: 50px;
    color: rgba(255, 255, 255, 0.70);
}

.contact-message {
    position: absolute;
    top: 604px;
    left: 712px;
    width: 1088px;
    height: 378px;
}

.message-text {
    position: absolute;
    width: 337px;
    height: 45px;
    left: 0;
    top: 0;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    font-family: cursive;
}

.text-underline {
    position: absolute;
    top: 44px;
    left: 0;
    width: 127px;
    border: 2px solid #353535;
}

.text-overline {
    position: absolute;
    left: 0;
    top: 44px;
    width: 40px;
    border: 2px solid #007ced;
}

form {
    position: absolute;
    top: 77px;
    width: 1088px;
    height: 301px;
}

form input {
    height: 53px;
    width: 512px;
    display: grid;
    padding: 20px;
    margin-bottom: 26.5px;
    font-size: 18px;
    font-family: cursive;
    font-weight: 400;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: 2px solid #555555;
    border-radius: 5px;
}

form textarea {
   position: absolute;
   top: 0;
   right: 0;
   width: 541px;
   height: 212px;
   padding: 14px;
   font-size: 18px;
   font-family: cursive;
   font-weight: 400;
   line-height: 35px;
   background-color: transparent;
   color: rgba(255, 255, 255, 0.5);
   border: 2px solid #555555;
   border-radius: 5px;
   resize: none;
}

.submit-btn[type=submit] {
    width: 161px;
    height: 62px;
    border-radius: 30px;
    background-color: #333333;
    border: 3px solid #d5d5d5;
    box-shadow: 0px 5px 5px #000000;
    transition: 0.5s;
    color: #ffffff;
    padding: 0;
}

.submit-btn:hover {
    border: 3px solid #007ced; 
    transition: 0.5s;
}

.contact-footer {
    position: absolute;
    top: 1012px;
}











/*! portfolio.html !*/

.gallery {
    position: absolute;
    top: 440px;
    left: 123px;
    height: 527px;
    width: 1426px;  
}

.gallery-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 168px;
    height: 45px;
    color: #ffffff;
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    font-family: cursive;
}

.gallery-statia {
    position: absolute;
    top: 100px;
}

.gallery-statia img {
    border-radius: 20px;
}

.owl-nav {
    display: none;
}

.owl-dots {
    margin-top: 20px;
}





@media screen and (max-width: 1536px) {
    
    .logo {
        position: relative;
        top: 36.8px;
        left: 48px;
        width: 44px;
        height: 44px;
    }
    
    .logo img {
        top: 6.4px;
        left: 7.2px;
        width: 26.4px;
        height: 29.6px;
    }
    
    .logo p {
        left: 56px;
        top: 4px;
        font-size: 24px;
    }
    
    .nav {
        left: 857.6px;
        width: 629.6px;
        height: 24px;
    }
    
    .nav ul li a {
        font-size: 14.4px;
        line-height: 28px;
    }
    
    .home-main {
        width: 1130.4px;
        height: 422.4px;
        top: 220.8px;
        left: 188px;
    }
    
    .img-circle {
        width: 422.4px;
        height: 422.4px;
    }
    
    .img-circle img {
        padding: 18px 18px;
        width: 422.4px;
        height: 422.4px;
    }
    
    .home-lil {
        top: 35.2px;
        left: 488px;
        font-size: 19.2px;
    }
    
    .home-big {
        top: 94.4px;
        left: 488px;
        font-size: 56px;
    }
    
    .home-text {
        top: 184px;
        left: 488px;
        font-size: 16px;
    }
    
    .portfolio-btn {
        top: 300.8px;
        left: 497.6px;
        padding-top: 10.4px;
        padding-bottom: 15.2px;
        border: 2.4px solid #d5d5d5;
    }
    
    .portfolio-btn:hover {
        border: 2.4px solid #007ced;
    }
    
    .portfolio-btn a {
        font-size: 16px;
        padding-top: 10.4px;
        padding-bottom: 15.2px;
        padding-inline: 37.2px;
    }
    
    .contact-btn {
        top: 300.8px;
        left: 651.2px;
        padding-top: 10.4px;
        padding-bottom: 15.2px;
        border: 2.4px solid #d5d5d5;
    }
    
    .contact-btn:hover {
        border: 2.4px solid #007ced;
    }
    
    .contact-btn a {
        font-size: 16px;
        padding-top: 10.4px;
        padding-bottom: 15.2px;
        padding-inline: 37.2px;
    }
    
    
    footer {
        top: 343.2px;
        height: 54.4px;
    }
    
    .footer-social {
        width: 148px;
        height: 35.48px;
        left: 48px;
    }
    
    .footer-social li {
        line-height: 28px;
    }
    
    .footer-reserved {
        top: 18.92px;
        right: 45.6;
    }




    /*! contact.html !*/

    .main-header {
        width: 100%;
        height: 183.2px;
        top: 129.6px;
    }

    .main-header-text {
        width: 362.4px;
        height: 36px;
        left: 49.6px;
        top: 74px;
        font-size: 44px;
        line-height: 28px;
    }

    .map-background {
        width: 12.8;
        height: 116.8px;
        top: 112px;
    }

    .google-map {
        width: 1342.4px;
        height: 116.8px;
        left: 96.8px;
        top: 336px;
    }

    .contact-info {
        top: 468px;
        left: 75.2px;
        width: 408.8px;
        height: 280px;
    }

    .phone {
        height: 76.8px;
        width: 408.8px;
    }

    .phone img {
        width: 65.6px;
        height: 68px;
    }

    .phone-big {
        font-size: 16px;
        line-height: 28px;
        left: 79.2px;
        top: 10.4px;        
    }

    .phone-lil {
        font-size: 14.4px;
        line-height: 21.6px;
        left: 79.2px;
        top: 40.8px;
    }

    .location {
        left: 4px;
        top: 103.2px;
        width: 404.8px;
        height: 75.2px;
    }

    .location img {
        width: 58.4px;
        height: 58.4px;
    }

    .location-big {
        font-size: 16px;
        line-height: 28px;
        left: 79.2px;
        top: 8.8px;
    }

    .location-lil {
        font-size: 14.4px;
        line-height: 21.6px;
        left: 79.2px;
        top: 39.2px;
    }

    .email {
        left: 5.6px;
        width: 404.8px;
        height: 75.2px;
    }

    .email img {
        width: 56px;
        height: 55.2px;
    }

    .email-big {
        font-size: 16px;
        line-height: 28px;
        left: 79.2px;
        top: 9.6px;
    }

    .email-lil {
        font-size: 14.4px;
        line-height: 21.6px;
        left: 79.2px;
        top: 44px;
    }

    .contact-message {
        top: 483.2px;
        left: 569.6px;
        width: 870.4px;
        height: 302.4px;
    }

    .message-text {
        width: 269.6px;
        height: 36px;
        font-size: 22.4px;
        line-height: 28px;
    }

    .text-underline {
        top: 32px;
        width: 101.6px;
    }

    .text-overline {
        top: 32px;
        width: 32px;
    }

    form {
        top: 61.6px;
        width: 870.4px;
        height: 240.8px;
    }

    form input {
        height: 42.4px;
        width: 409.6px;
        padding: 16px;
        margin-bottom: 21.2px;
        font-size: 14.4px;
        line-height: 28px;
    }

    form textarea {
        width: 432.8px;
        height: 169.6px;
        padding: 11.2px;
        font-size: 14.4px;
        line-height: 28px;
    }

    .submit-btn {
        padding-top: 10.4px;
        padding-bottom: 15.2px;
        border-radius: 24px;
        border: 2.4px solid #d5d5d5;
    }

    .submit-btn:hover {
        border: 2.4px solid #007ced;
    }

    .submit-btn a {
        font-size: 16px;
        padding-top: 10.4px;
        padding-bottom: 15.2px;
        padding-inline: 37.2px;
    }

    .contact-footer {
        top: 809.6px;
    }






    /*! portfolio.html !*/

.gallery {
    top: 352px;
    left: 98.4px;
    height: 421.6px;
    width: 1140.8px;  
}

.gallery-text {
    width: 134.4px;
    height: 36px;
    font-size: 22.4px;
    line-height: 28px;
}

.gallery-statia {
    top: 80px;
}

.gallery-statia img {
    border-radius: 16px;
}

.owl-dots {
    margin-top: 16px;
}

.owl-carousel {
    height: 400px;
}

.owl-carousel img {
    height: 250px;
}

}