:global(html), :global(body) {
  cursor: none !important;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white; /* Base color for inversion */
  border-radius: 50%;
  position: fixed;
  top: -4px; 
  left: -4px;
  pointer-events: none;
  z-index: 10000;
  
  /* This is the key line for the transparency/inversion effect */
  mix-blend-mode: difference; 
}