/* Dim effect when sidebar is open */
.dimmed {
  filter: brightness(0.75);
  pointer-events: none;
}

/* --- Sidebar --- */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  width: 500px; /* w-64 */
  background-color: #d84e2c; /* bg-indigo-800 */
  color: white;
  transform: translateX(100%); /* Start off-screen */
  transition: transform 300ms ease-in-out;
}

.open {
  transform: translateX(0); /* Slide into view */
}

.sidebarContent {
  /* display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center; */

  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.sidebarContentFlex {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.sectionTitle {
  font-size: 16px;
  font-family: 'josefin sans';
  color: #ffffff;
  margin-bottom: 32px;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 12px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.navLink {
  font-size: 18px;
  line-height: 28px;

  text-decoration: none;
  color: inherit;
  
  transition: text-decoration 0.2s ease;
}

.navLink:hover {
  text-decoration: underline;
}

.capitalizeText {
  text-transform: capitalize;
}


.navList {
  display: flex;
  flex-direction: column;
  gap: 12px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.navButton {
  font-size: 20px;
  line-height: 28px;

  display: flex;
  align-items: center;
  gap: 12px;

  background: none;
  border: none;
  padding: 0;
  color: inherit;
}

.iconContainer {
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transform: scale(1);
}

.iconSvg {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transform: scale(0);
}

.navButton:hover .iconContainer {
  transform: scale(2);
}

.navButton:hover .iconSvg {
  transform: scale(1);
}

.iconHome {
  background-color: #eab308;
  color: #000000;
}
.iconAbout {
  background-color: #3b82f6;
  color: #ffffff;
}
.iconExp {
  background-color: #14b8a6;
  color: #000000;
}
.iconProjects {
  background-color: #6366f1;
  color: #ffffff;
}

/* --- Sidebar Footer --- */
.sidebarFooter {
  margin-top: 230px;
  margin-left: 100px;
}

.sidebarFooter p {
  padding-bottom: 20px;
}

.sidebarFooter a {
  font-weight: 500;
  font-size: 18px;
}


/* --- Backdrop --- */
.backdrop {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 20;
  transition: opacity 300ms;
}


.menuButtonWrapper {
  position: fixed;
  top: 30;
  right: 50;
  z-index: 50;
}

.menuButton {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 300ms;
  border-radius: 9999px; /* rounded-full */
  background-color: transparent;
  padding: 0.25rem; /* p-1 */
  border: none;
}

.menuButton:hover .barTopClosed {
  rotate: calc(12deg);
  transition: all 0.5s ease;
}

.menuButton:hover .barBottomClosed {
  rotate: calc(-12deg);
  transition: all 0.5s ease;
}

.menuButton:focus {
  outline: none;
}

.bar {
  position: absolute;
  height: 2.5px; /* h-0.5 */
  width: 28px; /* w-5 */
  background-color: #ffffff; /* bg-indigo-600 */
  border-radius: 9999px; /* rounded-full */
  transition: all 300ms ease-in-out;
}

/* Closed State */
.barTopClosed {
  transform: translateY(-0.375rem); /* -translate-y-1.5 */
}
.barBottomClosed {
  transform: translateY(0.375rem); /* translate-y-1.5 */
}

/* Open State (The 'X') */
.barTopOpen {
  transform: rotate(45deg) translateY(0);
}
.barBottomOpen {
  transform: rotate(-45deg) translateY(0);
}





.sideEmail {
  position: fixed;
  rotate: 90deg;
  bottom: 130px;
  left: -85px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.sideBarEmail {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.5px;
}

/*! Home !*/

.home {
  height: 100vh;
  display: flex;
  gap: 150px;
  margin-top: 200px;
  margin-left: 200px;
}

.left {
  /* position: absolute; */
  left: 200px;
  top: 200px;
}

.left h1 {
  font-family: 'josefin sans';
  font-size: 80px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 1px;
}

.frontend {
  color: #d84e2c;
}

.developer {
  color: #ffffff;
  margin-left: 20px;
}

.devText {
  color: #73767b;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
  font-size: 20px;
  line-height: 25px;
}

.devText strong {
  color: #abafb4;
}

.resume {
  color: #000;
  padding: 13px 35px;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  background: linear-gradient(to top, #ffffff 50%, #d84e2c 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.4s ease;
}

.resume:hover {
  background-position: bottom;
}


.right {
  color: #ffffff;
  /* position: absolute; */
  bottom: 100px;
  right: 150px;
  margin-top: 300px;
}

.innerSpan {
  padding-left: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}

.spanColor {
  color: #d84e2c;
  letter-spacing: 2px;
  font-size: 18px;
}






/*! about !*/

.about {
  height: 120vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.aboutPMain {
  font-size: 60px;
  width: 100%;
  padding-bottom: 80px;
}

.aboutContainerMain{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.aboutPMe {
  font-size: 16px;
  border-bottom: 1px solid;
  width: 100%;
  padding-bottom: 12px;
  color: #6a7282;
}

.aboutContainerLeft {
  width: 90%;
  padding-top: 40px;
}

.aboutPGiorgi {
  font-size: 48px;
  padding-bottom: 40px;
}

.aboutPWeb {
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.80);
}

.aboutContainerRight {
  width: 100%;
  padding-right: 100px;
  letter-spacing: 1px;
  line-height: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
}

.aboutPStop {
  font-size: 36px;
  color: #d84e2c;
  margin-top: 40px;
  margin: 40px auto;
} 







































/*! Footer !*/

.footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
}

.footerwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerwrapper p {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.footerEmail {
  font-size: 36px;
  color: #ffffff;
  margin-block: 20px 40px;
}

.footerEmail:hover {
  text-decoration: underline;
}

.footerGit {
  color: #ffffffc1;
  font-size: 16px;
}

.footerGit:hover {
  text-decoration: underline;
}



@media (max-width: 480px) {
  .sideEmail {
  display: none;
}

.sidebar {
  width: 350px;
}

.sidebarContent {
  margin-top: 50px;
}

.navSection {
  order: 2;
}

.socialSection {
  order: 1;
  margin-bottom: 40px;
}

.sidebarContentFlex {
  width: 80%;
  flex-direction: column;
}

.sectionTitle {
  margin-bottom: 20px;
}

.sidebarFooter {
  position: absolute;
  bottom: 60;
  margin-left: 32px;
}

.sidebarFooter p {
  padding-bottom: 20px;
}

.sidebarFooter a {
  font-weight: 500;
  font-size: 18px;
}

.menuButtonWrapper {
  top: 30;
  right: 30;
}

/*! Home !*/

  .home {
  gap: 10px;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 0px;
  width: 100%;
}

.left {
  margin-top: 120px;
}

.left h1 {
  font-size: 60px;
  line-height: 60px;
}

.developer {
  margin-left: 0px;
}

.devText {
  margin-bottom: 36px;
}

.resume {
  font-size: 18px;
  padding-left: 32px;
  line-height: 30px;
  border-radius: 10px;
}

.right {
  margin-top: 40px;
  margin-left: 20px;
}

.innerSpan {
  padding-left: 12px;
  letter-spacing: 1px;
  font-size: 12px;
}


/*! about !*/

.about {
  height: 100vh;
  flex-direction: column;
}

.aboutContainer {
  width: 85%;
  margin-top: 700px;
}

.aboutPMain {
  font-size: 36px;
  width: 100%;
  padding-bottom: 80px;
}

.aboutContainerMain{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.aboutPMe {
  border-bottom: 2px solid;
}

.aboutContainerLeft {
  width: 100%;
}

.aboutContainerRight {
  padding-right: 0px;
}

.aboutPStop {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
} 


/*! footer !*/

.footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  margin-top: 700px;
}

.footerEmail {
  font-size: 26px;
}

.footerwrapper p {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

.footerGit {
  color: #ffffffc1;
  font-size: 14px;
}

}

@media (min-width: 1920px) {
  .left {
    left: 400px;
    top: 400px;
  }

  .right {
    right: 350px;
  }
}